<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Data Tanah</title>
</head>
<body>
<section layout:fragment="content" class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Data Tanah</h2>
            <p class="panel-subtitle">
                Aplikasi Budgeting Sekolah Tinggi Ekonomi Islam TAZKIA
            </p>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4" align="right">
                    <div class="input-group input-search">
                        <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                        <span class="input-group-btn">
						    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
						</span>
                    </div>
                </div>
                <div class="col-sm-5" align="left">

                </div>
                <div class="col-sm-3" align="left">
                    <div class="mb-md">
                        <a th:href="@{/tanah/form}" id="addToTable" class="btn btn-primary">Tambah <i class="fa fa-plus"></i></a>
                        <div class="btn-group">
                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-success dropdown-toggle" data-toggle="dropdown">Export <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">CSV</a></li>
                                <li><a href="#">Excel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed mb-none">
                    <thead>
                    <tr style="background-color: deepskyblue;">
                        <th>No</th>
                        <th>TANAH</th>
                        <th>LUAS</th>
                        <th>STATUS</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Tanah Komplek kampus sentul</td>
                        <td class="text-right" style="color: limegreen">20 Hektar</td>
                        <td>HAL MILIK</td>
                        <td>
                            <a href=""><i class="fa fa-pencil"></i></a> &nbsp;&nbsp;&nbsp;
                            <a href="" class="delete-row"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</section>

</body>
</html>